<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="DoctorWeb.ConfigFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <log4net>
    <!-- A1 is set to be a LogFileAppender -->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\\" />
      <appendToFile value="true" />
      <DatePattern value="\\\\yyyy\\\\MM\\\\'Log-Day-'dd'.inf.log'" />
      <rollingStyle value="Date" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <header value="[****--Test START--****]&#xA;&#xD;&#xA;" />
        <footer value="[Test END]&#xA;&#xD;&#xA;" />
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <!-- Set root logger level to DEBUG and its only appender to LogFileAppender -->
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
  <applicationSettings>
    <DoctorWeb.ConfigFile>
      <setting name="selectDriver" serializeAs="String">
        <value>ChromeDriver</value>
      </setting>
    </DoctorWeb.ConfigFile>
  </applicationSettings>
</configuration>