 <configuration>
  <appSettings>
  <add key="URl" value="http://drweb-sys.com"/>
  <add key="end" value="prod"/>
  <add key="gridRun" value="y"/>

    <!--QA productin Login-->
  <add key="username" value="test@doctorwin.co.il"/>
  <add key="userpassword" value="zxcv1234"/>

  <add key="openDriver" value="ChromeDriver"/>

    <!--paths-->
  <add key="reportFolder" value="C:\\DoctorWebPaths\\extentReport"/>
  <add key="Downloads" value="C:\\DoctorWebPaths\\reportDownloads"/>

    <!--Text Fields-->
  <add key="additionalFields_Name" value="//*[@id='Name']"/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>
  <add key="" value=""/>

  <!--Buttons-->
  <add key="additionalFields_Save" value="//*[@id='btnSaveMoreField']"/>

  <!--DropDowns-->
  <add key="additionalFields_Dropdown" value="//*[@id='addMoreFieldsForm']/table/tbody/tr[2]/td[2]/div/span"/>

  <!--Etc-->
</appSettings>
</configuration>